/*put shit here */
/*don't forget to make a flexbox holder */
/*add breaks for screen sizes !!!! */
*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

